@model Project.Models.AutoRace

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AutoRace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutoRaceID" />
            <div class="form-group">
                <label asp-for="AutoID" class="control-label"></label>
                <select asp-for="AutoID" class="form-control" asp-items="ViewBag.AutoID"></select>
                <span asp-validation-for="AutoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceID" class="control-label"></label>
                <select asp-for="RaceID" class="form-control" asp-items="ViewBag.RaceID"></select>
                <span asp-validation-for="RaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
