@{
    ViewData["Title"] = "About";
}
<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>
        Ik ben Kevin van sant. Dit is mijn mvc project. Als gewone gebruiker kun je de Race bekijken door op race te klikken. Voor de rest kun je niets aanpassen.

        Als piloot kun je een piloot toevoegen.

        Als admin kun je alle functie aan passen.
    </p>
</body>
